body {
  margin: 0;
}
header{
  position: relative;
  text-align: center;
}
table {
  position: absolute; 
  width: 100%;
  border-collapse: collapse; 
  background-color:  rgba(0, 0, 200, 0.12);
}
td {
  width: 5%;
  text-align: center;
  border-right-style: solid;
  border-left-style: solid;
  color: #ffffff;
}

td:hover {
  text-shadow: 0px 0px 3px white;
}

.headertab {
  width: 5%;
  text-align: center;
  font-size: 30px;
  font-family: Arial;
  color: #ffffff;
  text-decoration: none;
}

.home__img {
  width: 100%;
  height: 100vh;
  display: block;
  border-bottom: 50px solid #1D4C91;
}

.centered {
  font-size: 3.5vw;
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered2 {
  font-size: 3vw;
  font-family: Arial;
  color: #ffffff;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom_container {
  position: relative;
  text-align: center;
  color: white;
}

.right-textbox {
  position: absolute;
  color: white;
  top: 0%;
  left: 50%;
  width: 40%;
}

.left-textbox {
  position: absolute;
  color: white;
  top: 0%;
  left: 10%;
  width: 40%;
}

.bottom__img {
  width: 40%;
}

.box__img1 {
  width: 40%;
}

.box__img2 {
  width: 40%;
}

p {
  margin-right: 80px;
  margin-left: 80px;
  font-size: 1.3vw;
  font-family: Arial;
}

h4 {
  margin-right: 80px;
  margin-left: 80px;
  font-size: 1.4vw;
  font-family: Arial;
  font-weight: bold;
}
